<% provide(:title, 'Reset password') %>

<div class="flex items-center justify-center h-screen">
  <div class="w-full sm:w-96 bg-white p-8 rounded-lg shadow-md">
    <h1 class="text-2xl font-bold mb-6">Reset Password</h1>

    <%= form_with(model: @user, url: password_reset_path(params[:id]), local: true) do |f| %> 
    <!--neu su dung model: @user thi params se la params[:user] con khong co mac dinh la params[controller]-->
    <!--cos them url de gui den 1 duong dan cu the o day la gui den ham update cua controller password_resets-->
      <%= render 'shared/error_messages' %>
      <%= hidden_field_tag :email, @user.email %> <!--tao ra 1 input an ko  lien quan toi -->

      <div class="mb-4">
        <%= f.label :password, class: 'block text-gray-700 text-sm font-bold mb-2' %>
        <%= f.password_field :password, class: 'w-full p-2 border rounded-md focus:outline-none focus:border-blue-500' %>
      </div>

      <div class="mb-4">
        <%= f.label :password_confirmation, "Confirmation", class: 'block text-gray-700 text-sm font-bold mb-2' %>
        <%= f.password_field :password_confirmation, class: 'w-full p-2 border rounded-md focus:outline-none focus:border-blue-500' %>
      </div>

      <%= f.submit "Update password", class: "w-full p-3 bg-blue-500 text-white rounded-md hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue active:bg-blue-800" %>
    <% end %>
  </div>
</div>
