<div id="comment_<%=comment.id%>" class="flex items-start space-x-4">
  <%= link_to gravatar_for(comment.user, size: 40), comment.user, class: "rounded-full" %>
  <div class="flex-grow">
    <div class="flex items-center"> <!-- Sử dụng flex để đảm bảo các phần tử con nằm trên cùng một dòng -->
      <p class="mb-1"><strong><%= comment.user.name %>:</strong></p>
      <p id="content-<%= comment.id %>" class="mb-1 ml-1"><%= comment.content %></p>
    </div>
    <%= image_tag comment.image, class: "mt-2 rounded-md w-10 h-10 object-cover" if comment.image.attached? %> 
    <span class="timestamp text-gray-500">
      Posted <%= time_ago_in_words(comment.created_at) %> ago.
    </span>
    <div class="flex items-center space-x-2">
      <p class="edit-reply cursor-pointer text-blue-500 hover:underline" id="reply-<%=comment.id%>">Edit</p>
      <button class="delete-comment text-red-500 hover:text-red-700" id="reply-<%=comment.id%>"  data-comment-id=<%=comment.id%>>Delete</button>
      <p class="feedback cursor-pointer text-black-500 hover:underline" id="reply-<%=comment.parent_id%>">FeedBack</p>
    </div>
    <%=render 'comments/reply_edit', comment: comment%>
  </div>
</div>
