<div id="delete_react_<%=react.id%>" class="flex items-start w-3/4 mx-auto mb-4 p-4 bg-white rounded-lg shadow-md rounded-[20px] ">
  <div class="flex-shrink-0 mr-4">
    <%= link_to gravatar_for(react.user, size: 40), react.user, class: "rounded-full" %>
  </div>
  <div class="flex-grow">
    <p class="text-xl font-semibold mb-1"><%= react.user.name %></p>
    <div class="flex items-center">
      <p id="update_react_<%=react.id%>" class="text-lg font-semibold mr-2"><%= render_reaction_icon(react.action) %></p>
    </div>
  </div>
</div>
