<%= form_with(model: @micropost , local: true, html: { class: "mb-4" }) do |f| %>
<!--f.object trong context của form helper thường đại diện cho đối tượng mà form đang thực hiện thao tác trên đó. Trong trường hợp này đối tượng là @micropost-->
 <%= render 'shared/error_messages', object: f.object %>
  <div class="mb-4">
    <%= f.text_area :content, placeholder: "Compose new micropost...", class: "w-full p-3 border rounded" %>
  </div>
  <%= f.submit "Post", class: "bg-blue-500 text-white font-bold py-2 px-4 rounded",accept: "image/jpeg,image/gif,image/png" %>
                                                                                    <!--chỉ định ng dùng chỉ có thể chọn các tệp có định dạng trên-->

  <span class="image">
<%= f.file_field :image %>
</span>
<% end %>
