<div class="bg-gray-200 min-h-screen flex items-center justify-center">
  <div class="bg-white p-8 rounded shadow-md w-96">
    <h2 class="text-3xl font-extrabold mb-6 text-center">Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="mb-4">
        <%= f.label :email, class: "block text-sm font-semibold text-gray-600 mb-2" %><br />
        <%= f.email_field :email, class: "w-full border p-2 rounded focus:outline-none focus:border-blue-500", autofocus: true, autocomplete: "email" %>
      </div>

      <div class="mb-4">
        <%= f.label :password, class: "block text-sm font-semibold text-gray-600 mb-2" %><br />
        <%= f.password_field :password, class: "w-full border p-2 rounded focus:outline-none focus:border-blue-500", autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="mb-4 flex items-center">
          <%= f.check_box :remember_me, class: "mr-2 leading-tight" %>
          <%= f.label :remember_me, class: "text-sm text-gray-600" %>
        </div>
      <% end %>

      <div class="mt-6">
        <%= f.submit "Log in", class: "bg-blue-500 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
