
  <!-- Micropost -->
  <%if(!micropost.parent_id.present?)%>
  <li id="micropost-<%= micropost.id %>" class="flex items-start justify-between mb-4 border-b border-gray-300 py-4">
    <%= link_to gravatar_for(micropost.user, size: 40), micropost.user, class: "mr-4 rounded-full" %>
    <div class="flex-grow">
      <span class="user">
        <%= link_to micropost.user.name, micropost.user, class: "font-bold text-blue-500 hover:underline" %>
      </span>
      <span class="content text-gray-800 block mb-2">
        <%= micropost.content %>
        <%= image_tag micropost.image, class: "mt-2 rounded-md w-40 h-40 object-cover" if micropost.image.attached? %> 
      </span>
      <span class="timestamp text-gray-500">
        Posted <%= time_ago_in_words(micropost.created_at) %> ago.
      </span>
      <button class="delete-mic-button mt-2 text-sm text-red-500 hover:text-red-700 focus:outline-none focus:underline" id="micropost_<%= micropost.id %>" data-mic-id="<%= micropost.id %>">
        Delete
      </button> 
    </div>
  </li>

  <!-- Comments -->
  <ul class="space-y-4">
    <% micropost.comments.each do |comment| %>
    <%if comment.parent_id.present?%>
      <div id="comment_<%=comment.id%>" class="flex items-start space-x-4">
        <%= link_to gravatar_for(comment.user, size: 40), comment.user, class: "rounded-full" %>
        <div class="flex-grow">
          <p class="mb-1"><strong><%= comment.user.name %>:</strong> <%= comment.content %></p>
          <%= image_tag comment.image, class: "mt-2 rounded-md w-20 h-20 object-cover" if comment.image.attached? %> 
          <span class="timestamp text-gray-500">
            Posted <%= time_ago_in_words(comment.created_at) %> ago.
          </span>
          <div class="flex items-center space-x-2">
            <p class="edit-comment cursor-pointer text-blue-500 hover:underline" id="comment-<%=comment.id%>">Edit</p>
            <button class="delete-comment text-red-500 hover:text-red-700" id="comment-<%=comment.id%>" data-micropost-id=<%=comment.parent_id%> data-comment-id=<%=comment.id%>>Delete</button>
            <p class="feedback cursor-pointer text-black-500 hover:underline" id="comment-<%=comment.id%>">FeedBack</p>
          </div>

          <!-- Replies -->
          <div class="space-y-4">
            <% comment.replies.each do |reply|%>
              <div class="flex items-start space-x-4">
                <%= link_to gravatar_for(reply.user, size: 40), reply.user, class: "rounded-full" %>
                <div class="flex-grow">
                  <p class="mb-1"><strong><%= reply.user.name %>:</strong> <%= reply.content %></p>
                    <%= image_tag reply.image, class: "mt-2 rounded-md w-10 h-10 object-cover" if reply.image.attached? %> 
                  <span class="timestamp text-gray-500">
                    Posted <%= time_ago_in_words(reply.created_at) %> ago.
                  </span>
                  <div class="flex items-center space-x-2">
                    <p class="edit-reply cursor-pointer text-blue-500 hover:underline" id="reply-<%=reply.id%>">Edit</p>
                    <button class="delete-reply text-red-500 hover:text-red-700" id="reply-<%=reply.id%>" data-comment-id=<%=reply.parent_id%> data-reply-id=<%=reply.id%>>Delete</button>
                    <p class="feedback cursor-pointer text-black-500 hover:underline" id="reply-<%=comment.id%>">FeedBack</p>
                  </div>
                  <div class="form-reply-edit hidden " id="form-reply-edit-<%=reply.id%>">
                    <%= form_with(model: reply, url: comment_path(reply), method: :patch) do |form| %>
                      <%= render 'shared/error_messages', object: form.object %>
                      <%= hidden_field_tag :id, reply.id %>
                      <%= form.text_area :content,id: "comment-content-#{reply.id}", placeholder: 'Edit your comment...', class: "w-full p-2 border rounded" %>
                      <%= form.submit 'Update',id: "button-comment-content-#{reply.id}", class: "bg-blue-500 text-white font-bold py-2 px-4 rounded " %>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>

            <!-- Form for replying -->
            <div class="form-reply" id="form-reply-<%=comment.id%>">
              <%= form_with(model: comment.replies.build, url: create_reply_path) do |form| %>
                <%= render 'shared/error_messages', object: form.object %>
                <%= hidden_field_tag :micropost_id, comment.parent_id %>
                <%= hidden_field_tag :parent_id, comment.id%>
                <%= form.text_area :content,id: "comment-content-#{comment.id}", placeholder: 'Add a reply...', class: "w-full p-2 border rounded" %>
                <%= form.submit 'Post',id: "button-comment-content-#{comment.id}", class: "bg-blue-500 text-white font-bold py-2 px-4 rounded hidden" %>
                <%= form.file_field :image,id: "image-#{comment.id}" %>
              <% end %>
            </div>

          </div>
        </div>

        <!-- Form for editing comment -->
        <div class="form-edit hidden" id="form-comment-<%=comment.id%>">
          <%= form_with(model: comment, url: comment_path(comment), method: :patch) do |form| %>
            <%= render 'shared/error_messages', object: form.object %>
            <%= hidden_field_tag :id, comment.id %>
            <%= form.text_area :content,id: "comment-content-#{comment.id+0.5}", placeholder: 'Edit your comment...', class: "w-full p-2 border rounded" %>
            <%= form.submit 'Update',id: "button-comment-content-#{comment.id+0.5}", class: "bg-blue-500 text-white font-bold py-2 px-4 rounded " %>
          <% end %>
        </div>
      </div>
      <%end%>
    <% end %>
  </ul>

  <!-- Form for adding comments -->
  <%= form_with(model: micropost.comments.build, url: create_comment_path) do |form| %>
    <%= render 'shared/error_messages', object: form.object %>
    <%= hidden_field_tag :micropost_id, micropost.id %>
    <%= hidden_field_tag :parent_id, micropost.id %>
    <%= form.text_area :content,id: "comment-content-#{micropost.id}", placeholder: 'Add a comment...', class: "w-full p-2 border rounded" %>
    <%= form.submit 'Post',id: "button-comment-content-#{micropost.id}", class: "bg-blue-500 text-white font-bold py-2 px-4 rounded hidden" %>
    <%= form.file_field :image,id: "image-#{micropost.id}" %>
  <% end %>
  <% end %>