
  <!-- Micropost -->
  <%if(!micropost.parent_id.present?)%>
  <li id="micropost-<%= micropost.id %>" class="flex items-start justify-between mb-4 border-b border-gray-300 py-4">
    <%= link_to gravatar_for(micropost.user, size: 40), micropost.user, class: "mr-4 rounded-full" %>
    <div class="flex-grow">
      <span class="user">
        <%= link_to micropost.user.name, micropost.user, class: "font-bold text-blue-500 hover:underline" %>
      </span>
      <span class="content text-gray-800 block mb-2">
        <%= micropost.content %>
        <%= image_tag micropost.image, class: "mt-2 rounded-md w-40 h-40 object-cover" if micropost.image.attached? %> 
      </span>
      <span class="timestamp text-gray-500">
        Posted <%= time_ago_in_words(micropost.created_at) %> ago.
      </span>
      <button class="delete-mic-button mt-2 text-sm text-red-500 hover:text-red-700 focus:outline-none focus:underline" id="micropost_<%= micropost.id %>" data-mic-id="<%= micropost.id %>">
        Delete
      </button> 
    </div>
  </li>
    <ul id="comment_create_<%=micropost.id%>" class="space-y-4">
    <% micropost.comments.reverse_each do |comment| %>
     <%=render 'comments/comment', comment: comment%>
    <% end %>
  </ul>
      <%=render 'comments/comment_form', micropost: micropost %>
  <% end %>
